@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color: black; */
    /* #FF4500 */
    color:#777;
}
/* .nav-bg{
    background-color: black;

} */
.MuiDataGrid-cell .MuiDataGrid-cell:focus-within,
.tablecolor {
  color: #777 !important; 
}